This notebook follows the plan:
- Import the modules
- Import the "basic" data (movies and characters datasets from CMU), clean it and save it
- Extraction of the lemmatized version of the plot summaries from the corenlp processed data
- Processing of the summaries according to the gender
- Loading, cleaning of IMDb dataset
- Matching CMU and IMDb datasets

# Import the modules

In [177]:
import pandas as pd
import numpy as np
import pickle
import nltk

In [2]:
# Download useful packages for nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw-1.4')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to /home/pierre/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/pierre/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/pierre/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/pierre/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to /home/pierre/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/pierre/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

# Import the data

In [178]:
# File and folder names
DATA_FOLDER = 'Data/'
CHARACTER_DATASET = DATA_FOLDER + 'character.metadata.tsv'
MOVIE_DATASET = DATA_FOLDER + 'movie.metadata.tsv'

SUMMARIES_DATASET = DATA_FOLDER + 'plot_summaries.txt'
NLP_FOLDER = DATA_FOLDER + 'corenlp_plot_summaries/'
DEFAULT_COMPRESSION = 'gzip'

In [179]:
# Function to load data
def load_metadata(path, column_names, header=None, low_memory=False):
    return pd.read_table(path, header=header, names=column_names)

In [180]:
# Name columns
columns_character = ['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Movie_release_date', 'Character_name', 'Actor_date_of_birth', 'Actor_gender', 'Actor_height_meters', 'Actor_ethnicity_Freebase_ID', 'Actor_name', 'Actor_age_at_movie_release', 'Freebase_character_actor_map_ID', 'Freebase_character_ID', 'Freebase_actor_ID']
columns_movie = ['Wikipedia_movie_ID', 'Freebase_movie_ID', 'Movie_name','Movie_release_date','Movie_box_office_revenue', 'Movie_runtime','Movie_languages','Movie_countries','Movie_genres' ]

# Load data with correct column names
characters = load_metadata(CHARACTER_DATASET,column_names=columns_character)
movies = load_metadata(MOVIE_DATASET,column_names=columns_movie)

In [181]:
# Load summaries
with open(SUMMARIES_DATASET,'r', encoding='utf-8') as file:
    summaries = file.readlines()

## First glimpse at the data

First we observe the movies dataframe:

In [182]:
print(len(movies))
movies.head(2)

81741

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

Then we observe the characters dataframe:

In [183]:
print(len(characters))
characters.head(2)

450669

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_release_date,Character_name,Actor_date_of_birth,Actor_gender,Actor_height_meters,Actor_ethnicity_Freebase_ID,Actor_name,Actor_age_at_movie_release,Freebase_character_actor_map_ID,Freebase_character_ID,Freebase_actor_ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.78,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4

We also check the summaries:

In [184]:
print('Number of plots:', len(summaries))
summaries[0]

Number of plots: 42306

"23890098\tShlykov, a hard-working taxi driver and Lyosha, a saxophonist, develop a bizarre love-hate relationship, and despite their prejudices, realize they aren't so different after all.\n"

# Cleaning

## Problem of dates

We fix typos and absurd dates

In [185]:
movies.loc[movies.Movie_release_date == '1010-12-02','Movie_release_date'] = '2010-12-02'
characters.loc[characters.Movie_release_date == '1010-12-02','Movie_release_date'] = '2010-12-02'
characters[characters.Actor_date_of_birth == '2050'] = '1971'
characters = characters.drop(characters[characters.Actor_date_of_birth < '1500'].index)
characters = characters.drop(characters[characters.Actor_date_of_birth > '2030'].index)

## Format of movie languages, genres and country

Convert the format of languages, genres, country columns to a simpler format (in terms of utilisation).

In [186]:
def format_multiple(chain,deb,step):
    '''Split the chain of characters at each " encountered, and keep only the element in deb +i*step'''
    res = chain.split('"')[deb::step]
    return res

In [187]:
movies.loc[:,'Movie_genres'] = movies.Movie_genres.apply(format_multiple,deb=3,step=4)
movies.loc[:,'Movie_countries'] = movies.Movie_countries.apply(format_multiple,deb=3,step=4)
movies.loc[:,'Movie_languages'] = movies.Movie_languages.apply(format_multiple,deb=3,step=4)

In [188]:
keys = ['Movie_languages','Movie_countries','Movie_genres']
for key in keys:
    nb = len(movies[movies[key].apply(len) == 0])
    print('{nb} movies without {key} ({percentage:.2f}% of the dataset)'.format(nb=nb,key=key, percentage=nb*100/len(movies)))

13866 movies without Movie_languages (16.96% of the dataset)
8154 movies without Movie_countries (9.98% of the dataset)
2294 movies without Movie_genres (2.81% of the dataset)

## Format for dates

For our study, we only keep the years from the dates.

In [189]:
movies.Movie_release_date = pd.to_datetime(movies.Movie_release_date,format='%Y-%m-%d').dt.year
characters.Movie_release_date = pd.to_datetime(characters.Movie_release_date,format='%Y-%m-%d').dt.year
characters.Actor_date_of_birth = pd.to_datetime(characters.Actor_date_of_birth,format='%Y-%m-%d',utc=True,errors='coerce').dt.year

## Saving the new dataset

We pickle our data in order to reuse directly the cleaned data (and load it faster).

In [190]:
DESTINATION = './Data/'
EXT = '.pkl'
to_pickle_data = [characters,movies]
to_pickle_name = ['characters','movies']
for i in range(len(to_pickle_data)):
    to_pickle_data[i].to_pickle(DESTINATION+to_pickle_name[i]+EXT)

# # To unpickle:
# characters = pd.read_pickle("./Data/characters.pkl") 
# movies = pd.read_pickle("./Data/movies.pkl")

# Lemmatizing the summaries

We lemmatize data (for examples *'is'* becomes *'be'*) to be able to count words better. To do so, we used the `corenlp_plot_summaries` files, and exctracted from it the lemmatized versions of the movies summaries.

In [191]:
# Set to True to save the data
LEMMATIZE_SUMMARIES = False # Takes ~7 mins to run (on i7-10875H CPU)

if LEMMATIZE_SUMMARIES:
    # Imports
    from time import time
    import os
    import gzip
    import re

    # Count the number of files in the directory
    nb_files = 0
    for filename in os.listdir(NLP_FOLDER):
        path = os.path.join(NLP_FOLDER, filename)
        nb_files += 1
    print('Number of summaries:',nb_files)

    ext = '.xml.gz' # Extension name
    dico_processed_summmaries = {} # Dictionary to store the processed summaries
    regex = r'<lemma>.*?</lemma>' # Expression to detect in the corenlp data <lemma>(word)</lemma>

    deb = time() # Start timer
    count = 0 # Counter

    # Iteration over the files
    for filename in os.listdir(NLP_FOLDER):
        path = os.path.join(NLP_FOLDER, filename) # Path to the file
        id_summary = path[len(NLP_FOLDER):-len(ext)] # id of the summary = filename without extension
        summary = '' # String to store the summary

        if os.path.isfile(path): # Checking if it is a file
            with gzip.open(path, 'rb') as f: # Opening the .gz file
                for line in f:
                    txt = line.decode().strip() # Extract the line as txt
                    for elt in re.finditer(regex,txt): # Find all the elements like regex
                        summary += re.split('[><]',elt.group(0))[2].lower() + ' ' # Adding only the lemmatized word
        
        # Set the summary in the dictionary and increment the counter
        dico_processed_summmaries[id_summary] = summary
        count += 1

        # Evolution of the process
        if count%1000 == 0:
            print('{processed}/{tot} files processed --> {perc:.1f}% ({t:.1f} seconds since deb)'.format(processed=count,tot=nb_files,perc=count/nb_files*100,t=time()-deb))
    
    # Pickle the file
    with open(DATA_FOLDER + 'nlp_summaries.pkl', 'wb') as file:
        pickle.dump(dico_processed_summmaries, file, protocol=pickle.HIGHEST_PROTOCOL)

Let us try to extract the data:

In [192]:
# Read the pickle file
nlp_summaries = pd.read_pickle(DATA_FOLDER+'nlp_summaries.pkl')

# Observe the first lemmatized summary
for key,value in nlp_summaries.items():
    print('Key:',key)
    print('Summary:\n',value[:200]+'...')
    break

Key: 10000053
Summary:
 Fur trapper Jean La B te paddle he canoe through wild water towards the settlement in order to sell a load of fur . at the settlement a steamboat be landing and the trader and he foster-child Eve , ar...

# Separating sentences between sexes

The aim of this part is to separate sentences between sexes to do a sentimental analysis later. To do so, we check if a feminine actor or the *'she'* pronoun is present in a sentence and add them to a new file. We do the same for a male actor and the *'he'* pronoun. Note that for example the sentence *'She hates him'* will become *'she hate he'* once lemmatized, which will be put in the feminine and maculine files

This approach is not perfect, since for example in the sentences 'She likes butter. Indeed, the actress loves food.', only the first one will be added. It is not perfect, but the best solution we could think of.

In [193]:
# Create a dataframe with the characters
characters_per_film = characters.copy()
# Put the column in their correct type and lower chars
characters_per_film['Wikipedia_movie_ID'] = characters_per_film['Wikipedia_movie_ID'].astype(int)
characters_per_film['Character_name'] = characters_per_film['Character_name'].astype(str).apply(lambda x: x.lower())
# Sort the dataframe by movie ID
characters_per_film = characters_per_film.sort_values(by=['Wikipedia_movie_ID'])
# Drio rows where the character name or the gender is empty
characters_per_film = characters_per_film.dropna(subset=['Character_name', 'Actor_gender'])
# Group the dataframe by movie ID
characters_per_film = characters_per_film.groupby('Wikipedia_movie_ID')[['Wikipedia_movie_ID', 'Character_name', 'Actor_gender']]

In [194]:
# Import dataframe from lemmatized summaries
df = pd.DataFrame(list(nlp_summaries.items()), columns = ['id','plot_lemmatized'])
# Put column in their correct type
df['id'] = df['id'].astype(int)
# Sort the dataframe by movie ID
df = df.sort_values(by=['id'])
# Show the first 5 rows
df.head()

         id                                    plot_lemmatized
27884   330  in order to prepare the role of a important ol...
26866  3217  after be pull through a time portal , Ash Will...
28281  3333  the film follow two juxtapose family : the Nor...
31566  3746  -lcb- -lcb- Hatnote -rcb- -rcb- in Los Angeles...
31793  3837  in the American Old West of 1874 , constructio...

In [195]:
# Set to True to save the data
SEPARATE_SENTENCES = False # Takes ~20 mins to run (on i7-10875H CPU)

if SEPARATE_SENTENCES:
    # Imports
    count = 0
    dico_male = {}
    dico_female = {}
    regexp = nltk.tokenize.RegexpTokenizer('\w+')

    # Loop on subgroups
    for _, group in characters_per_film:
        # Get the movie id
        movie_id = group['Wikipedia_movie_ID'].iloc[0]
        female_sentences = []
        male_sentences = []

        # Check if wikipedia movie id is in the nlp summaries
        if movie_id in df['id'].values:
            index = df[df['id'] == movie_id].index[0] # Take the correct index
            plot = df['plot_lemmatized'][index] # Take the correct plot
            sentences = plot.split('.') # Split into sentences
            # Loop on sentences
            for sentence in sentences:
                tokens = regexp.tokenize(sentence)
                # Loop on characters
                for character in group['Character_name']:
                    # Find the sex of the character
                    gender = group[group['Character_name'] == character].Actor_gender.values[0]
                    # Find potential pronouns discriminative on gender
                    he_index = any('he' in sublist for sublist in tokens)
                    she_index = any('she' in sublist for sublist in tokens)
                    # Check if the pronoun or actor name is in the sentence
                    if ((character in sentence) or she_index or he_index):
                        # Store in dictionary depending on gender of sentence (can also be in both)
                        if ((gender == '1') or she_index):
                            female_sentences.append(sentence)
                        if ((gender == '0') or he_index):
                            male_sentences.append(sentence)

        # Store in dictionary and increment counter
        dico_male[movie_id] = male_sentences
        dico_female[movie_id] = female_sentences
        count += 1

        # Evolution of the process
        if count%1000 == 0:
            print('{processed} files processed'.format(processed=count))

    # Pickle the file
    with open(DATA_FOLDER + 'male_sentences.pkl', 'wb') as file:
        pickle.dump(dico_male, file, protocol=pickle.HIGHEST_PROTOCOL)    
    with open(DATA_FOLDER + 'female_sentences.pkl', 'wb') as file:
        pickle.dump(dico_female, file, protocol=pickle.HIGHEST_PROTOCOL)

## Analyse sentiments for each group

We run it in the handling of data since it takes a long time to calculate

In [26]:
# Import male sentences
male_sentences_dict = pd.read_pickle(DATA_FOLDER + 'male_sentences.pkl')
# Form a dataframe
male_sentences = pd.DataFrame(list(male_sentences_dict.items()), columns = ['id','sentences'])
# Create a new column that reconstructs the summary from the lemmatized sentences
male_sentences['summary'] = male_sentences['sentences'].apply(lambda x: ' '.join(x))

# Import female sentences
female_sentences_dict = pd.read_pickle(DATA_FOLDER + 'female_sentences.pkl')
# Form a dataframe
female_sentences = pd.DataFrame(list(female_sentences_dict.items()), columns = ['id','sentences'])
# Create a new column that reconstructs the summary from the lemmatized sentences
female_sentences['summary'] = female_sentences['sentences'].apply(lambda x: ' '.join(x))

# Show the first 5 rows of male sentences
male_sentences.head()

,id,sentences,summary
0,330,[in order to prepare the role of a important o...,in order to prepare the role of a important ol...
1,1971,[],
2,3217,"[after be pull through a time portal , Ash Wil...","after be pull through a time portal , Ash Will..."
3,3333,[the film follow two juxtapose family : the No...,the film follow two juxtapose family : the Nor...
4,3746,[-lcb- -lcb- Hatnote -rcb- -rcb- in Los Angele...,-lcb- -lcb- Hatnote -rcb- -rcb- in Los Angeles...

In [196]:
SAVE_SENTIMENTS = False # Takes ~41 mins to run (on i7-10875H CPU)

if SAVE_SENTIMENTS:
    # Use nltk Vader to get the sentiment of the sentences
    analyzer =  nltk.sentiment.SentimentIntensityAnalyzer()

    # Apply sentiments to plots
    male_sentences['polarity'] = male_sentences['summary'].apply(lambda x: analyzer.polarity_scores(x))
    female_sentences['polarity'] = female_sentences['summary'].apply(lambda x: analyzer.polarity_scores(x))

    # Pickle the file
    with open(DATA_FOLDER + 'male_sentiments.pkl', 'wb') as file:
        pickle.dump(male_sentences, file, protocol=pickle.HIGHEST_PROTOCOL)    
    with open(DATA_FOLDER + 'female_sentiments.pkl', 'wb') as file:
        pickle.dump(female_sentences, file, protocol=pickle.HIGHEST_PROTOCOL)

# Enriching the CMU dataset with IMDb dataset and movie-stats

## Loading the data and first glimpse

In [197]:
#Load the most useful datasets from IMDb
TITLE_BASICS_DATASET = DATA_FOLDER + 'title.basics.tsv.gz'
TITLE_RATINGS_DATASET = DATA_FOLDER + 'title.ratings.tsv.gz'
#Load movie-stats, a dataset generated from IMDb movies
MOVIE_STATS = DATA_FOLDER + 'movie-stats.csv'

columns_title_basics = ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']
columns_ratings = ['tconstIdentifier', 'averageRating', 'numVotes']

DESTINATION = './Data/'
MATCHING_TABLE = DESTINATION + 'matching_table.pkl'

CLEAN_DATA = False # True to clean again the data, False to use the already pickled data
MATCH_DATA = False # True to match on film names, False to use the matching table already computed

In [198]:
if CLEAN_DATA:
    #Load title_basics
    title_basics = load_metadata(TITLE_BASICS_DATASET, column_names=columns_title_basics)
    print("length of title_basics: ", len(title_basics))
    title_basics.head()

In [199]:
if CLEAN_DATA:
    #Load title_ratings
    ratings = load_metadata(TITLE_RATINGS_DATASET, column_names=columns_ratings)
    print("length of ratings: ", len(ratings))
    ratings.head(6)

In [200]:
if CLEAN_DATA:
    #Load movie-stats
    movie_stats = pd.read_csv(MOVIE_STATS, header = 8)
    print("length of movie_stats: ", len(movie_stats))
    movie_stats.head()

## Cleaning the datasets

In [201]:
if CLEAN_DATA:
    #Create a new table with only titleType=movies (get rid of videos, tvshows, tvepisodes and short)
    title_basics_movies = title_basics[title_basics["titleType"] == "movie"]
    #Remove the endYear column since movies are not concerned by thats
    title_basics_movies_cleaned = title_basics_movies.drop(columns='endYear')
    title_basics_movies_cleaned.replace('\\N',np.NaN,inplace=True) # replace \\N by NaN
    # datetime format for dates
    title_basics_movies_cleaned.startYear = pd.to_datetime(title_basics_movies_cleaned.startYear,format='%Y').dt.year 
    title_basics_movies_cleaned.head()

In [202]:
if CLEAN_DATA:
    #Drop the first row which represents the titles of the columns
    #Careful: execute only once, otherwise it will delete the first row each time!
    ratings_cleaned = ratings.drop(index=ratings.index[0], axis=0) 
    print("length of ratings_cleaned: ", len(ratings_cleaned))
    ratings_cleaned.replace('\\N',np.NaN,inplace=True) # replace \\N by NaN
    #Check if there are NaN values in the dataset
    print('Number of NaN in the ratings dataset: \n',ratings_cleaned.isnull().sum())
    ratings_cleaned.head()

In [203]:
if CLEAN_DATA:
    #Check if there are NaN values in the dataset
    print('Number of NaN in the movie-stats dataset: \n', movie_stats.isnull().sum())
    #Remove useless columns
    movie_stats_cleaned = movie_stats.drop(columns=['rating', 'released'])
    #Remove rows where budget is NaN because we use movie-stats dataset to get information on budget
    movie_stats_cleaned.dropna(subset=['budget'], inplace=True)
    movie_stats_cleaned.head()
    print("length of movie_stats_cleaned: ", len(movie_stats_cleaned))
    print('Number of NaN in the cleaned movie-stats dataset: \n', movie_stats_cleaned.isnull().sum())

## Saving the cleaned dataset

In [204]:
DESTINATION = './Data/'
EXT = '.pkl'

In [205]:
if CLEAN_DATA:
    #Pickle the data
    to_pickle_data = title_basics_movies_cleaned
    to_pickle_name = 'IMDb_title_movies'
    to_pickle_data.to_pickle(DESTINATION+to_pickle_name+EXT)

if not CLEAN_DATA: # for testing part
    # load already pickled data
    title_basics_movies_cleaned = pd.read_pickle("./Data/IMDb_title_movies.pkl")
    title_basics_movies_cleaned.startYear = pd.to_datetime(title_basics_movies_cleaned.startYear,format='%Y').dt.year

In [206]:
if CLEAN_DATA:
    #Pickle the data
    to_pickle_data = ratings_cleaned
    to_pickle_name = 'IMDb_ratings'
    to_pickle_data.to_pickle(DESTINATION+to_pickle_name+EXT)

if not CLEAN_DATA: # for testing part
    # load already pickled data
    ratings_cleaned = pd.read_pickle("./Data/IMDb_ratings.pkl")

In [207]:
if CLEAN_DATA:
    #Pickle the data
    to_pickle_data = movie_stats_cleaned
    to_pickle_name = 'movie-stats_budget'
    to_pickle_data.to_pickle(DESTINATION+to_pickle_name+EXT)

if not CLEAN_DATA: # for testing part
    # load already pickled data
    movie_stats_cleaned = pd.read_pickle("./Data/movie-stats_budget.pkl")

## Matching IMDb and CMU films

In [208]:
movie_stats_cleaned.head()

,name,genre,year,score,votes,director,writer,star,country,budget,gross,company,runtime\
0,The Shining,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0\
1,The Blue Lagoon,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0\
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0\
3,Airplane!,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0\
4,Caddyshack,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0\

In [142]:
ratings_cleaned.head()

  tconstIdentifier averageRating numVotes
1        tt0000001           5.7     1922
2        tt0000002           5.8      259
3        tt0000003           6.5     1734
4        tt0000004           5.6      174
5        tt0000005           6.2     2545

We match the movies from one dataset to the films on the other dataset on the movie name, as the ids are different.

In order to avoid mismatched pairs due to a little variation in the titles, we matched films of the same year, with almost identical titles (via Jaccard distance). We create a dictionnary that matches the index of matched films.

In [209]:
copy_IMDb = title_basics_movies_cleaned.copy()
copy_IMDb = copy_IMDb[copy_IMDb.startYear >= 1910]
copy_CMU = movies.copy()
copy_CMU.dropna(subset=['Movie_box_office_revenue', 'Movie_release_date'], inplace=True)
copy_IMDb.dropna(subset= ['startYear'], inplace=True)
print(len(copy_CMU)) # 8328
print(len(copy_IMDb)) # 541993

8328
541993

In [271]:
import re
common_words = {'a','an','and','the','of','at','in'}
punctuation = {'.',',','!',';','?',''}
def compare(df1,df2,col1_title,col2_title,col1_year,col2_year,threshold = 0.8, delta_year=1):
        matched = {}
        for idx1,row1 in df1.iterrows():
            title1 = set(re.split('[ :,]',row1[col1_title].lower()))
            title1 = title1.difference(punctuation)
            y1 = row1[col1_year]
            print(title1,y1)
            #for idx2,row2 in df2[df2[col2_year].isin([y1-delta_year+i for i in range(delta_year*2)])].iterrows():
            for idx2,row2 in df2[df2[col2_year]==y1].iterrows():
                title2 = set(re.split('[ :,]',row2[col2_title].lower()))
                title2 = title2.difference(punctuation)
                if len(title1 & title2)/(len(title1 | title2)) > threshold:
                    print(title2)
                    print('ok')
                    try:
                        matched[idx1].append(idx2)
                    except KeyError:
                        matched[idx1] = [idx2]
        return matched

In [211]:
if MATCH_DATA:
    from time import time
    deb = time()
    matched = compare(copy_CMU,copy_IMDb, 'Movie_name', 'primaryTitle', 'Movie_release_date', 'startYear')
    end = time()
    print('Time of execution:', end-deb) # 2360s
    matched

In [212]:
if MATCH_DATA:
    # save the matching table
    with open(MATCHING_TABLE, 'wb') as file:
        pickle.dump(matched, file, protocol=pickle.HIGHEST_PROTOCOL)

else:
    matched = pd.read_pickle(MATCHING_TABLE)

In [213]:
doublons = {}
for match in matched:
    if len(matched[match]) > 1:
        doublons[match] = matched[match]
print('{nb} duplicates ({per:.2f}% of all matchings)'.format(nb=len(doublons), per=len(doublons)/len(matched)*100))

86 duplicates (1.16% of all matchings)

In [214]:
for cmu,imdbs in doublons.items():
    print(copy_CMU.loc[cmu,'Movie_name'] + '  VS  ' + copy_IMDb.loc[imdbs,'primaryTitle'])

3391684    The Way  VS  The Way
4535866    The Way  VS  The Way
Name: primaryTitle, dtype: object
58112    Harlow  VS  Harlow
58113    Harlow  VS  Harlow
Name: primaryTitle, dtype: object
88939     Down and Out in Beverly Hills  VS  Down and Ou...
176644    Down and Out in Beverly Hills  VS  In and Out ...
Name: primaryTitle, dtype: object
368686     The Dying Gaul  VS  The Dying Gaul
4613260    The Dying Gaul  VS  The Dying Gaul
Name: primaryTitle, dtype: object
88104      Sweet Dreams  VS  Sweet Dreams
7993798    Sweet Dreams  VS  Sweet Dreams
Name: primaryTitle, dtype: object
97951    My Blue Heaven  VS  My Blue Heaven
97952    My Blue Heaven  VS  My Blue Heaven
Name: primaryTitle, dtype: object
86067      Runaway  VS  Runaway
7811004    Runaway  VS  Runaway
Name: primaryTitle, dtype: object
3772516    Super  VS  Super
4745142    Super  VS  Super
Name: primaryTitle, dtype: object
3264408    White Night  VS  White Night
3886728    White Night  VS  White Night
Name: primaryTitle, dtype: object
1552502    One Week  VS  One Week
2849606    One Week  VS  One Week
Name: primaryTitle, dtype: object
2306819    Free Man  VS  Man Free
4716970    Free Man  VS  Free Man
Name: primaryTitle, dtype: object
113879     The Hunchback of Notre Dame  VS  The Hunchback...
9309223    The Hunchback of Notre Dame  VS  The Hunchback...
Name: primaryTitle, dtype: object
323924    The Missing  VS  The Missing
368227    The Missing  VS  The Missing
Name: primaryTitle, dtype: object
1049763    Alice in Wonderland  VS  Alice in Wonderland
5255156    Alice in Wonderland  VS  Alice in Wonderland
Name: primaryTitle, dtype: object
1672433    Burlesque  VS  Burlesque
4178745    Burlesque  VS  Burlesque
Name: primaryTitle, dtype: object
389961    The Guardian  VS  The Guardian
443993    The Guardian  VS  The Guardian
Name: primaryTitle, dtype: object
4392116    Black and White  VS  Black and White
4705698    Black and White  VS  White and Black
Name: primaryTitle, dtype: object
170616    Gossip  VS  Gossip
228201    Gossip  VS  Gossip
Name: primaryTitle, dtype: object
4460137    The Artist  VS  The Artist
4786866    The Artist  VS  The Artist
Name: primaryTitle, dtype: object
371888    Malevolence  VS  Malevolence
372780    Malevolence  VS  Malevolence
Name: primaryTitle, dtype: object
386153    Chaos  VS  Chaos
389139    Chaos  VS  Chaos
Name: primaryTitle, dtype: object
4176241    What to Expect When You're Expecting  VS  What...
6062867    What to Expect When You're Expecting  VS  What...
Name: primaryTitle, dtype: object
2804359    Turning Point  VS  Turning Point
3617359    Turning Point  VS  Turning Point
Name: primaryTitle, dtype: object
3821221    Sacrifice  VS  Sacrifice
4614842    Sacrifice  VS  Sacrifice
Name: primaryTitle, dtype: object
111471     Panther  VS  Panther
2961417    Panther  VS  Panther
Name: primaryTitle, dtype: object
4596044    Weekend  VS  Weekend
4727953    Weekend  VS  Weekend
4975392    Weekend  VS  Weekend
Name: primaryTitle, dtype: object
94758    Black Rain  VS  Black Rain
95499    Black Rain  VS  Black Rain
Name: primaryTitle, dtype: object
294778     Bobby  VS  Bobby
8740960    Bobby  VS  Bobby
Name: primaryTitle, dtype: object
2171378    Leap Year  VS  Leap Year
3909194    Leap Year  VS  Leap Year
Name: primaryTitle, dtype: object
386153    Chaos  VS  Chaos
389139    Chaos  VS  Chaos
Name: primaryTitle, dtype: object
1321292    The Wave  VS  The Wave
4579006    The Wave  VS  The Wave
Name: primaryTitle, dtype: object
325833    Hostage  VS  Hostage
447132    Hostage  VS  Hostage
Name: primaryTitle, dtype: object
2768022    Cyrus  VS  Cyrus
2815215    Cyrus  VS  Cyrus
Name: primaryTitle, dtype: object
473695     The 11th Hour  VS  The 11th Hour
1208970    The 11th Hour  VS  The 11th Hour
Name: primaryTitle, dtype: object
963369     Ghost Town  VS  Ghost Town
4291501    Ghost Town  VS  Ghost Town
Name: primaryTitle, dtype: object
130384    Ride with the Devil  VS  Ride with the Devil
230712    Ride with the Devil  VS  Ride with the Devil
Name: primaryTitle, dtype: object
301266    The In-Laws  VS  The In-Laws
341695    The In-Laws  VS  The In-Laws
Name: primaryTitle, dtype: object
982165     Hansel and Gretel  VS  Hansel and Gretel
2346915    Hansel and Gretel  VS  Hansel and Gretel
Name: primaryTitle, dtype: object
158716     Limbo  VS  Limbo
7520453    Limbo  VS  Limbo
Name: primaryTitle, dtype: object
1458924    Wide Awake  VS  Wide Awake
1679369    Wide Awake  VS  Wide Awake
Name: primaryTitle, dtype: object
111534     Pocahontas  VS  Pocahontas
8959947    Pocahontas  VS  Pocahontas
Name: primaryTitle, dtype: object
2341156    High School  VS  High School
3532540    High School  VS  High School
Name: primaryTitle, dtype: object
2171399    Mother  VS  Mother
4033447    Mother  VS  Mother
Name: primaryTitle, dtype: object
2587554    Last Night  VS  Last Night
4642477    Last Night  VS  Last Night
Name: primaryTitle, dtype: object
96319     True Love  VS  True Love
148620    True Love  VS  True Love
Name: primaryTitle, dtype: object
3999434    A Better Life  VS  A Better Life
5219390    A Better Life  VS  A Better Life
Name: primaryTitle, dtype: object
2479106    The Tempest  VS  The Tempest
4520160    The Tempest  VS  The Tempest
Name: primaryTitle, dtype: object
861585    M  VS  M
957538    M  VS  M
Name: primaryTitle, dtype: object
4482406    Mirror Mirror  VS  Mirror Mirror
5540652           Mirror Mirror  VS  Mirror
Name: primaryTitle, dtype: object
945111     Old Dogs  VS  Old Dogs
1691732    Old Dogs  VS  Old Dogs
Name: primaryTitle, dtype: object
347286     The Box  VS  The Box
3005336    The Box  VS  The Box
Name: primaryTitle, dtype: object
98209     Revenge  VS  Revenge
100177    Revenge  VS  Revenge
178878    Revenge  VS  Revenge
Name: primaryTitle, dtype: object
2925462    I'm Still Here  VS  I'm Still Here
4566089    I'm Still Here  VS  I'm Still Here
Name: primaryTitle, dtype: object
117722     A Bug's Life  VS  A Bug's Life
7893069    A Bug's Life  VS  A Bug's Life
Name: primaryTitle, dtype: object
401464    Dreamer  VS  Dreamer
468796    Dreamer  VS  Dreamer
Name: primaryTitle, dtype: object
274677    Scorched  VS  Scorched
356384    Scorched  VS  Scorched
Name: primaryTitle, dtype: object
95287    Happy Together  VS  Happy Together
96462    Happy Together  VS  Happy Together
Name: primaryTitle, dtype: object
856445    The Mist  VS  The Mist
958212    The Mist  VS  The Mist
Name: primaryTitle, dtype: object
348248    Beyond the Sea  VS  Beyond the Sea
366322    Beyond the Sea  VS  Beyond the Sea
Name: primaryTitle, dtype: object
100308     Paradise  VS  Paradise
8482062    Paradise  VS  Paradise
Name: primaryTitle, dtype: object
45944     The Black Knight  VS  The Black Knight
261941    The Black Knight  VS  The Black Knight
Name: primaryTitle, dtype: object
2743055    Frozen  VS  Frozen
4287367    Frozen  VS  Frozen
Name: primaryTitle, dtype: object
5545932    Stone  VS  Stone
5968993    Stone  VS  Stone
Name: primaryTitle, dtype: object
114828    Scream  VS  Scream
170730    Scream  VS  Scream
Name: primaryTitle, dtype: object
308476      2 Fast 2 Furious  VS  2 Fast 2 Furious
3130196    2 Fast 2 Furious  VS  2 Fast, 2 Furious
Name: primaryTitle, dtype: object
4250549    Abduction  VS  Abduction
6029895    Abduction  VS  Abduction
Name: primaryTitle, dtype: object
1428982    Quarantine  VS  Quarantine
8372019    Quarantine  VS  Quarantine
Name: primaryTitle, dtype: object
117287    Soldier  VS  Soldier
202982    Soldier  VS  Soldier
Name: primaryTitle, dtype: object
779149    Asylum  VS  Asylum
829238    Asylum  VS  Asylum
Name: primaryTitle, dtype: object
5287187    Deranged  VS  Deranged
5575999    Deranged  VS  Deranged
Name: primaryTitle, dtype: object
151877    Last Night  VS  Last Night
273082    Last Night  VS  Last Night
Name: primaryTitle, dtype: object
5871200    Over My Dead Body  VS  Over My Dead Body
5948471    Over My Dead Body  VS  Over My Dead Body
Name: primaryTitle, dtype: object
1183940    The Bounty Hunter  VS  The Bounty Hunter
3556592    The Bounty Hunter  VS  The Bounty Hunter
Name: primaryTitle, dtype: object
100920    White Fang  VS  White Fang
283607    White Fang  VS  White Fang
Name: primaryTitle, dtype: object
116810    Men with Guns  VS  Men with Guns
116811    Men with Guns  VS  Men with Guns
Name: primaryTitle, dtype: object
97499     Havana  VS  Havana
267902    Havana  VS  Havana
Name: primaryTitle, dtype: object
4841129    Gone  VS  Gone
5743936    Gone  VS  Gone
Name: primaryTitle, dtype: object
102064    Hero  VS  Hero
239824    Hero  VS  Hero
Name: primaryTitle, dtype: object
3023322    Upside Down  VS  Upside Down
5364699    Upside Down  VS  Upside Down
Name: primaryTitle, dtype: object
4568054    The Hunter  VS  The Hunter
4994823    The Hunter  VS  The Hunter
Name: primaryTitle, dtype: object
2273700    The Future  VS  The Future
7511404    The Future  VS  The Future
Name: primaryTitle, dtype: object
97110    Lambada  VS  Lambada
97713    Lambada  VS  Lambada
Name: primaryTitle, dtype: object
92618    The Big Blue  VS  The Big Blue
93120    The Big Blue  VS  The Big Blue
Name: primaryTitle, dtype: object
109821     Apollo 13  VS  Apollo 13
7840817    Apollo 13  VS  Apollo 13
Name: primaryTitle, dtype: object
4462863    First Love  VS  First Love
5137898    First Love  VS  First Love
Name: primaryTitle, dtype: object
2002829    Adam  VS  Adam
3395157    Adam  VS  Adam
Name: primaryTitle, dtype: object

Many duplicated matched are juste films with the same name (and same year), so probably duplicated films in the database.

Some are similar titles but the order of words is changed (e.g "Black and White" corresponding to "Black and White" and "White and Black").

## Merging the datasets

As only $1.16\%$ of the matchings are duplicated, we will simply drop them.

In [215]:
for cmu,imdbs in matched.items():
    if cmu not in doublons:
        copy_CMU.loc[cmu,'IMDb_index'] = imdbs[0]
copy_IMDb['IMDb_index'] = copy_IMDb.index
copy_CMU.dropna(subset=['IMDb_index'],inplace=True)
copy_CMU['IMDb_index'] = copy_CMU['IMDb_index'].astype('int64')
merge_df = pd.merge(copy_CMU, copy_IMDb, on = 'IMDb_index', how = "inner")
print(len(merge_df))
merge_df.head()

7356

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,IMDb_index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",218707,tt0228333,movie,Ghosts of Mars,Ghosts of Mars,0,2001.0,98,"Action,Horror,Sci-Fi"
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938.0,3600000.0,106.0,[English Language],[United States of America],"[Musical, Comedy, Black-and-white]",29325,tt0029852,movie,Alexander's Ragtime Band,Alexander's Ragtime Band,0,1938.0,106,"Drama,Music,Musical"
2,171005,/m/016ywb,Henry V,1989.0,10161099.0,137.0,[English Language],[United Kingdom],"[Costume drama, War film, Epic, Period piece, ...",95308,tt0097499,movie,Henry V,Henry V,0,1989.0,137,"Biography,Drama,History"
3,77856,/m/0kcn7,Mary Poppins,1964.0,102272727.0,139.0,[English Language],[United States of America],"[Children's/Family, Musical, Fantasy, Comedy, ...",57208,tt0058331,movie,Mary Poppins,Mary Poppins,0,1964.0,139,"Comedy,Family,Fantasy"
4,156558,/m/014k4y,Baby Boy,2001.0,29381649.0,123.0,[English Language],[United States of America],"[Crime Fiction, Drama, Coming of age]",244954,tt0255819,movie,Baby Boy,Baby Boy,0,2001.0,130,"Crime,Drama,Romance"

In [216]:
merge_df.Movie_runtime = merge_df.Movie_runtime.apply(lambda x:int(x) if pd.notna(x) else -1)
len(merge_df[merge_df.runtimeMinutes == merge_df.Movie_runtime])
# All the matched films have the same runtime

0

Now, we add the ratings to the corresponding films: we lose 5 films which did not have ratings, which is negligeable.

In [217]:
merge_df_ratings = pd.merge(merge_df, ratings_cleaned, left_on = 'tconst', right_on ='tconstIdentifier', how = "inner")
print(len(merge_df_ratings))
merge_df_ratings.head()

7351

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,IMDb_index,...,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,tconstIdentifier,averageRating,numVotes
0,975900,/m/03vyhn,Ghosts of Mars,2001.0,14010832.0,98,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",218707,...,movie,Ghosts of Mars,Ghosts of Mars,0,2001.0,98,"Action,Horror,Sci-Fi",tt0228333,4.9,55237
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938.0,3600000.0,106,[English Language],[United States of America],"[Musical, Comedy, Black-and-white]",29325,...,movie,Alexander's Ragtime Band,Alexander's Ragtime Band,0,1938.0,106,"Drama,Music,Musical",tt0029852,6.9,2159
2,171005,/m/016ywb,Henry V,1989.0,10161099.0,137,[English Language],[United Kingdom],"[Costume drama, War film, Epic, Period piece, ...",95308,...,movie,Henry V,Henry V,0,1989.0,137,"Biography,Drama,History",tt0097499,7.5,30168
3,77856,/m/0kcn7,Mary Poppins,1964.0,102272727.0,139,[English Language],[United States of America],"[Children's/Family, Musical, Fantasy, Comedy, ...",57208,...,movie,Mary Poppins,Mary Poppins,0,1964.0,139,"Comedy,Family,Fantasy",tt0058331,7.8,173216
4,156558,/m/014k4y,Baby Boy,2001.0,29381649.0,123,[English Language],[United States of America],"[Crime Fiction, Drama, Coming of age]",244954,...,movie,Baby Boy,Baby Boy,0,2001.0,130,"Crime,Drama,Romance",tt0255819,6.4,14988

In [269]:
# Select the columns
merge_df_ratings.drop(['titleType', 'startYear','originalTitle'], axis=1, inplace=True)

# Save the dataset
with open(DESTINATION + 'merge_CMU_IMDb.pkl', 'wb') as file:
        pickle.dump(merge_df_ratings, file, protocol=pickle.HIGHEST_PROTOCOL)

KeyError: "['titleType', 'startYear', 'originalTitle'] not found in axis"

## Merge this dataframe to the movie_stats one

In [272]:
 if MERGE_AGAIN:
    matched = compare(merge_df_ratings,movie_stats_cleaned, 'Movie_name', 'name', 'Movie_release_date', 'year')
    # save the matching table
    with open(DESTINATION+'matching_table_bis.pkl', 'wb') as file:
        pickle.dump(matched, file, protocol=pickle.HIGHEST_PROTOCOL)

else:
    matched = pd.read_pickle(DESTINATION+'matching_table_bis.pkl')

{'of', 'mars', 'ghosts'} 2001
{'of', 'mars', 'ghosts'}
ok
{"alexander's", 'band', 'ragtime'} 1938
{'v', 'henry'} 1989
{'v', 'henry'}
ok
{'poppins', 'mary'} 1964
{'boy', 'baby'} 2001
{'boy', 'baby'}
ok
{'what', 'knew', 'wanted', 'they'} 1940
{'be', 'the', 'must', 'crazy', 'gods'} 1980
{'be', 'the', 'must', 'crazy', 'gods'}
ok
{'rudo', 'cursi', 'y'} 2008
{'kinjite', 'subjects', 'forbidden'} 1989
{'kinjite', 'subjects', 'forbidden'}
ok
{'loverboy'} 1989
{'the', 'wagon', 'covered'} 1923
{'the', 'hut', 'little'} 1957
{'boston', 'the', 'strangler'} 1968
{'die', 'dae-ro', "can't", 'lee'} 2005
{'naked', 'the', 'kitchen'} 2009
{'star!'} 1968
{'great', 'the', 'santini'} 1979
{'beachhead'} 1954
{'to', 'when', 'do', 'in', 'denver', 'things', "you're", 'dead'} 1995
{'to', 'when', 'do', 'in', 'denver', 'things', "you're", 'dead'}
ok
{'convoy'} 1978
{'c.h.u.d.'} 1984
{'c.h.u.d.'}
ok
{'cat', 'black', 'white'} 1998
{'the', 'astronaut', 'farmer'} 2006
{'the', 'astronaut', 'farmer'}
ok
{'dogs', 'straw'} 1971
{'winter...', 'and', 'spring', 'fall', 'summer'} 2003
{'blockade'} 1938
{'grease'} 1978
{'jane', 'becoming'} 2007
{'jane', 'becoming'}
ok
{'express', 'midnight'} 1978
{'robocop', '3'} 1993
{'robocop', '3'}
ok
{'the', 'kingdom', 'forbidden'} 2008
{'the', 'kingdom', 'forbidden'}
ok
{'superman'} 1978
{'trial', 'and', 'error'} 1997
{'roughness', 'necessary'} 1991
{'roughness', 'necessary'}
ok
{'demon', 'of', 'barber', 'sweeney', 'todd', 'fleet', 'the', 'street'} 2007
{'demon', 'of', 'barber', 'sweeney', 'todd', 'fleet', 'the', 'street'}
ok
{'chaplin'} 1992
{'chaplin'}
ok
{'nothing', 'to', 'lose'} 1997
{'nothing', 'to', 'lose'}
ok
{'13th', 'friday', 'chapter', 'the', 'final'} 1984
{'13th', 'friday', 'chapter', 'the', 'final'}
ok
{'you', "i'm", 'losing'} 1998
{'beastmaster', '2', 'of', 'through', 'time', 'the', 'portal'} 1991
{'beastmaster', '2', 'of', 'through', 'time', 'the', 'portal'}
ok
{'rainbow', 'the', 'over'} 2002
{'resident', 'evil'} 2002
{'resident', 'evil'}
ok
{'nell'} 1994
{'nell'}
ok
{'business', 'monkey'} 1952
{'to', 'someone', 'me', 'watch', 'over'} 1987
{'to', 'someone', 'me', 'watch', 'over'}
ok
{'your', 'could', 'woman', 'never', 'be', 'i'} 2007
{'cyrano', 'agency'} 2010
{'of', 'my', 'grace', 'heart'} 1996
{'of', 'my', 'grace', 'heart'}
ok
{'just', 'wright'} 2010
{'the', 'child', 'bless'} 2000
{'the', 'child', 'bless'}
ok
{'the', 'program'} 1993
{'the', 'program'}
ok
{'francisco', 'san'} 1936
{'comebacks', 'the'} 2007
{'comebacks', 'the'}
ok
{'brides'} 2004
{'beauty', 'stage'} 2004
{'in', 'jefferson', 'paris'} 1995
{'in', 'jefferson', 'paris'}
ok
{'iron', 'the', 'lady'} 2011
{'iron', 'the', 'lady'}
ok
{'next'} 2007
{'next'}
ok
{'fish', 'go'} 1994
{'contract', 'the'} 2006
{'of', 'clash', 'the', 'titans'} 2010
{'of', 'clash', 'the', 'titans'}
ok
{'g.i.', 'jane'} 1997
{'g.i.', 'jane'}
ok
{'moment', 'a', 'dull', 'never'} 1950
{'falling', 'snow', 'on', 'cedars'} 1999
{'falling', 'snow', 'on', 'cedars'}
ok
{'chitty', 'bang'} 1968
{'the', 'wyoming', 'from', 'redhead'} 1953
{'diary', '26', 'years'} 2007
{'godsend'} 2004
{'track', '29'} 1988
{'track', '29'}
ok
{'season', '3', 'open'} 2010
{'the', "don't", 'rock', 'knock'} 1956
{'and', 'created', 'woman', 'god'} 1988
{'home', 'at', 'lives', 'jeff', 'who'} 2011
{'days', 'palmy'} 1931
{'single', 'a', 'man'} 2009
{'single', 'a', 'man'}
ok
{'bangkok', 'dangerous'} 2008
{'bangkok', 'dangerous'}
ok
{'cinderella'} 1950
{'last', 'song', 'the'} 2010
{'last', 'song', 'the'}
ok
{'petersen'} 1974
{'my', 'fair', 'lady'} 1964
{'house', 'of', 'yes', 'the'} 1997
{'house', 'of', 'yes', 'the'}
ok
{'the', 'sure', 'thing'} 1985
{'the', 'sure', 'thing'}
ok
{"t'aime", 'paris', 'je'} 2006
{"t'aime", 'paris', 'je'}
ok
{'big', 'bad', 'mama'} 1974
{'overheard', '2'} 2011
{'is', 'cool', 'life'} 2008
{'house', 'of', 'cards'} 1993
{'looper'} 2012
{'looper'}
ok
{'stroker', 'ace'} 1983
{'crossover'} 2006
{'for', 'game', 'of', 'love', 'the'} 1999
{'for', 'game', 'of', 'love', 'the'}
ok
{'halloween', 'resurrection'} 2002
{'halloween', 'resurrection'}
ok
{'way', 'to', 'the', 'gold'} 1957
{'the', 'badlanders'} 1958
{'beast', 'of', 'the', 'city'} 1932
{'three', 'violent', 'people'} 1956
{'empire', 'inland'} 2006
{'of', 'the', 'rancho', 'rose'} 1914
{'to', 'smoochy', 'death'} 2002
{'to', 'smoochy', 'death'}
ok
{'fixed', 'bayonets!'} 1951
{'are', 'chances'} 1989
{'are', 'chances'}
ok
{'soldier', 'the', 'universal', 'return'} 1999
{'soldier', 'the', 'universal', 'return'}
ok
{'3', 'strikes'} 2000
{'brain', 'donors'} 1992
{'banzai', 'of', 'across', 'the', '8th', 'dimension', 'buckaroo', 'adventures'} 1984
{'of', 'dylan', 'night', 'dog', 'dead'} 2010
{'welcome', 'to', 'mooseport'} 2004
{'welcome', 'to', 'mooseport'}
ok
{'versa', 'vice'} 1988
{'fields', 'the', 'killing'} 1984
{'fields', 'the', 'killing'}
ok
{'foys', 'the', 'seven', 'little'} 1955
{'inkheart'} 2008
{'inkheart'}
ok
{'fire', 'with'} 1986
{'tortilla', 'soup'} 2001
{'house', 'party', '3'} 1994
{'collector', 'the', 'bone'} 1999
{'collector', 'the', 'bone'}
ok
{'house', 'party', '2'} 1991
{'house', 'party', '2'}
ok
{'bambi'} 1942
{'man', 'trouble'} 1992
{'man', 'trouble'}
ok
{'at', 'tension', 'table', 'rock'} 1956
{'and', 'king', 'richard', 'the', 'crusaders'} 1954
{'smart', 'get'} 2008
{'smart', 'get'}
ok
{'foreign', 'correspondent'} 1940
{'of', 'pieces', 'april'} 2003
{'of', 'pieces', 'april'}
ok
{'down', 'to', 'earth'} 2001
{'down', 'to', 'earth'}
ok
{'serenity'} 2005
{'serenity'}
ok
{'fatal', 'attraction'} 1987
{'fatal', 'attraction'}
ok
{'throttle', 'full', 'angels', "charlie's"} 2003
{'throttle', 'full', 'angels', "charlie's"}
ok
{'rocket', 'science'} 2007
{'murdered', 'paradise'} 2007
{'of', 'damned', 'the', 'queen'} 2002
{'of', 'damned', 'the', 'queen'}
ok
{'prodigal', 'the'} 1955
{'in', '3', 'back', 'police', 'training', 'academy'} 1986
{'hello', 'dolly!'} 1969
{'gray', 'in', 'suit', 'the', 'man', 'flannel'} 1956
{'34th', 'miracle', 'on', 'street'} 1994
{'off', 'a', 'place', 'far'} 1993
{'in', 'the', 'dark', 'man'} 1953
{'broken', 'not', 'easily'} 2009
{'boiling', 'point'} 1993
{'boiling', 'point'}
ok
{'unmarried', 'an', 'woman'} 1978
{'of', 'paleface', 'son'} 1952
{'drop', 'zone'} 1994
{'drop', 'zone'}
ok
{'halloween', 'of', '4', 'michael', 'the', 'myers', 'return'} 1988
{'halloween', 'of', '4', 'michael', 'the', 'myers', 'return'}
ok
{'saturn', '3'} 1980
{'3-iron'} 2004
{'3-iron'}
ok
{'wetherby'} 1985
{'juice'} 1992
{'juice'}
ok
{'pass', 'hall'} 2011
{'pass', 'hall'}
ok
{'la', 'monaco', 'fille', 'de'} 2008
{'gymkata'} 1985
{'no', 'of', 'son', 'one', 'the'} 2011
{'troll'} 1986
{'troll'}
ok
{'greatest', 'story', 'the', 'told', 'ever'} 1965
{'scoundrels', 'for', 'school'} 2006
{'duty', 'jury'} 1995
{'blue', 'three', 'colors'} 1993
{'major', 'league'} 1989
{'major', 'league'}
ok
{'she-devil'} 1989
{'just', 'luck', 'my'} 2006
{'just', 'luck', 'my'}
ok
{'picture', 'last', 'the', 'show'} 1971
{'a', 'man', 'reasonable'} 1999
{'nowhere', 'camp'} 1994
{'during', 'life', 'wartime'} 2009
{'and', 'learned', 'to', 'worrying', 'or', 'strangelove', 'stop', 'dr.', 'love', 'bomb', 'the', 'how', 'i'} 1964
{'gold', "fool's"} 2008
{'gold', "fool's"}
ok
{'selena'} 1997
{'selena'}
ok
{'puss', 'in', 'boots'} 2011
{'puss', 'in', 'boots'}
ok
{'straight', 'the', 'story'} 1999
{'straight', 'the', 'story'}
ok
{'rush', 'the', 'adrenalin', 'fear'} 1996
{'quid', 'pro', 'quo'} 2008
{'er', 'conde', 'jones'} 2011
{'west', 'fievel', 'goes', 'an', 'american', 'tail'} 1991
{'brides', 'of', 'the', 'battle'} 2011
{'just', 'between', 'friends'} 1986
{'lolita'} 1962
{'at', 'meet', 'me', 'the', 'fair'} 1953
{'of', 'musketeers', 'the', 'revenge'} 1994
{'of', 'baby', 'lost', 'the', 'legend', 'secret'} 1985
{'wolf', 'teen', 'too'} 1987
{'wolf', 'teen', 'too'}
ok
{'shine'} 1996
{'shine'}
ok
{'unzipped'} 1995
{'the', 'widowmaker', 'k-19'} 2002
{'the', 'widowmaker', 'k-19'}
ok
{'shallow', 'hal'} 2001
{'shallow', 'hal'}
ok
{'way', 'the', 'along', 'trouble'} 1953
{'the', 'hunted'} 1995
{'the', 'hunted'}
ok
{'home', 'yellow', 'of', 'from', 'the', 'far', 'dog', 'adventures'} 1995
{'kaboom'} 2010
{'robocop'} 1987
{'robocop'}
ok
{'bee', 'season'} 2005
{'mr.', 'emmanuel'} 1944
{'max', 'schmeling'} 2010
{'airplane!'} 1980
{'airplane!'}
ok
{'attraction', 'bewitching'} 2006
{'witches', 'the'} 1990
{'the', 'groove', 'tube'} 1974
{'gothic'} 1986
{'because', 'said', 'so', 'i'} 2007
{'water'} 2005
{'pass', 'raton'} 1951
{'sonja', 'red'} 1985
{'sonja', 'red'}
ok
{'adventure', 'incredibly', 'of', 'in', 'love', 'the', 'girls', 'two', 'true'} 1995
{'adventure', 'incredibly', 'of', 'in', 'love', 'the', 'girls', 'two', 'true'}
ok
{'and', 'a', 'noodle', 'woman', 'shop', 'gun'} 2009
{'town', 'covers', 'francis', 'big', 'the'} 1953
{'king', 'of', 'quarters', 'kong', 'a', 'fistful', 'the'} 2007
{'medicine', 'man'} 1992
{'medicine', 'man'}
ok
{'somewhere'} 2010
{'somewhere'}
ok
{'baba', 'of', 'hajji', 'the', 'adventures'} 1954
{'at', 'bad', 'black', 'rock', 'day'} 1955
{"prizzi's", 'honor'} 1985
{'fled'} 1996
{'fled'}
ok
{'girl', 'the', 'other', 'boleyn'} 2008
{'girl', 'the', 'other', 'boleyn'}
ok
{'fire', 'on', 'man'} 1987
{'dirty', 'dancing'} 1987
{'dirty', 'dancing'}
ok
{'4', 'scream'} 2011
{'4', 'scream'}
ok
{"donovan's", 'young', 'kid'} 1931
{'of', 'life', 'gale', 'the', 'david'} 2003
{'of', 'life', 'gale', 'the', 'david'}
ok
{'iron', 'man', '2'} 2010
{'iron', 'man', '2'}
ok
{'of', 'prince', 'foxes'} 1949
{'set', 'desk'} 1957
{'antichrist'} 2009
{'antichrist'}
ok
{'pink', 'the', 'panther'} 1963
{'rock!', 'shake', 'rattle', '&'} 1956
{'stander'} 2003
{'confidential', 'l.a.'} 1997
{'confidential', 'l.a.'}
ok
{'my', 'the', 'father', 'hero'} 1994

{'omen', 'the'} 1976
{'horizons', 'the', 'far'} 1955
{'giant'} 1956
{'great', 'lover', 'the'} 1949
{'before', 'mast', 'the', 'years', 'two'} 1946
{'terri'} 2011
{'30', 'going', 'on', '13'} 2004
{'30', 'going', 'on', '13'}
ok
{'the', 'perfect', 'game'} 2009
{'algiers'} 1938
{'to', 'goes', 'ernest', 'camp'} 1987
{'to', 'goes', 'ernest', 'camp'}
ok
{'your', 'only', 'for', 'eyes'} 1981
{'your', 'only', 'for', 'eyes'}
ok
{'county', 'line', 'macon'} 1974
{'birth', 'of', 'nation', 'a', 'the'} 1915
{'six', 'days', 'seven', 'nights'} 1998
{'six', 'days', 'seven', 'nights'}
ok
{'dreamz', 'american'} 2006
{'king', 'of', 'kings'} 1961
{'colombiana'} 2011
{'colombiana'}
ok
{'of', 'the', 'year', 'comet'} 1992
{'connection', 'french', 'ii'} 1975
{'next', 'friday', 'after'} 2002
{'next', 'friday', 'after'}
ok
{'prejudice', 'extreme'} 1987
{'prejudice', 'extreme'}
ok
{'parts', 'speaking'} 1989
{'sky', 'high'} 2005
{'sky', 'high'}
ok
{'of', 'dreams', 'winter', 'our'} 1981
{"henry's", 'crime'} 2010
{"henry's", 'crime'}
ok
{'in', 'sleepless', 'seattle'} 1993
{'in', 'sleepless', 'seattle'}
ok
{'first', 'the', 'texan'} 1956
{'movie', 'road'} 2002
{'and', '2', 'months', '4', 'days', 'weeks', '3'} 2007
{'starting', 'in', 'evening', 'the', 'out'} 2007
{'newsies'} 1992
{'newsies'}
ok
{'that', 'do!', 'you', 'thing'} 1996
{'that', 'do!', 'you', 'thing'}
ok
{'days', 'seven'} 2007
{'the', 'white', 'countess'} 2005
{'last', 'summer', 'suddenly'} 1959
{"monster's", 'ball'} 2001
{"monster's", 'ball'}
ok
{'with', 'scot', 'breakfast'} 2007
{'in', 'battle', 'seattle'} 2007
{'ambush'} 1950
{"boyfriend's", 'back', 'my'} 1993
{"boyfriend's", 'back', 'my'}
ok
{'of', 'brave', 'the', 'home'} 1949
{'pride', 'celtic'} 1996
{'hard', 'spy'} 1996
{'hard', 'spy'}
ok
{'volcano'} 1997
{'volcano'}
ok
{'toys'} 1992
{'toys'}
ok
{'fastest', 'the', 'indian', "world's"} 2005
{'fastest', 'the', 'indian', "world's"}
ok
{'bodyguards', 'and', 'assassins'} 2009
{'knows', "you're", 'alone', 'he'} 1980
{'you', 'just', 'want', 'me', 'tell', 'what'} 1980
{'heartbreakers'} 2001
{'heartbreakers'}
ok
{'spider-man'} 2002
{'spider-man'}
ok
{'sin', 'original'} 2001
{'sin', 'original'}
ok
{'cirque', 'assistant', "vampire's", 'the', 'freak', 'du'} 2009
{'cirque', 'assistant', "vampire's", 'the', 'freak', 'du'}
ok
{'of', 'the', 'return', 'dead', 'living'} 1985
{'of', 'the', 'return', 'dead', 'living'}
ok
{'dungeons', '&', 'dragons'} 2000
{'dungeons', '&', 'dragons'}
ok
{'the', 'scout'} 1994
{'ginger', 'snaps', 'unleashed', '2'} 2004
{'caramel'} 2007
{'the', 'quiet', 'man'} 1952
{'violent', 'the', 'men'} 1955
{'for', 'grounds', 'marriage'} 1951
{'lone', 'mcquade', 'wolf'} 1983
{'lone', 'mcquade', 'wolf'}
ok
{'harry', 'brown'} 2009
{'harry', 'brown'}
ok
{'the', 'man', 'leading'} 1996
{'anthem', 'american'} 1986
{'have', 'everything', 'yours', 'is', 'i'} 1952
{'5', 'destination', 'final'} 2011
{'5', 'destination', 'final'}
ok
{'a', 'little', 'princess'} 1995
{'a', 'little', 'princess'}
ok
{'welcome', 'to', 'collinwood'} 2002
{'tarzan'} 1999
{'tarzan'}
ok
{'we', 'zoo', 'bought', 'a'} 2011
{'we', 'zoo', 'bought', 'a'}
ok
{'bears', 'the', 'country'} 2002
{'bears', 'the', 'country'}
ok
{'mommas', 'big', 'father', 'son', 'like'} 2011
{'mommas', 'big', 'father', 'son', 'like'}
ok
{'was', 'he', 'a', 'quiet', 'man'} 2007
{'of', 'tenants', 'prosperity', '72'} 2010
{'and', 'now', 'then'} 1995
{'a', 'million'} 2009
{'in', 'hole', 'the', 'ace'} 1951
{'the', 'spain', 'kid', 'from'} 1932
{'girl', 'the', 'dead'} 2006
{'worth', 'fort'} 1951
{'hat', 'top'} 1935
{'bones'} 2001
{'bones'}
ok
{'diggers'} 2006
{'born', 'is', 'a', 'star'} 1976
{'the', 'on', 'woman', 'beach'} 2006
{'secret', 'the', 'garden'} 1993
{'secret', 'the', 'garden'}
ok
{'a', 'christmas', 'tale'} 2008
{'ted', 'bundy'} 2002
{'ted', 'bundy'}
ok
{'squad', 'vice'} 1982
{'movie', 'scary', '2'} 2001
{'movie', 'scary', '2'}
ok
{'burnt', 'sun', 'by', '2', 'the'} 2010
{'10', 'to', '3', 'yuma'} 1957
{'battlefield', 'earth'} 2000
{'battlefield', 'earth'}
ok
{'of', 'the', 'dark', 'out'} 1988
{'in', 'night', 'vigil', 'the'} 1940
{'no', 'nanette'} 1940
{'semum'} 2008
{'carroll', 'house', 'the', 'street', 'on'} 1988
{'cars'} 2006
{'cars'}
ok
{'the', 'daughter', "general's"} 1999
{'the', 'daughter', "general's"}
ok
{'boy', "mama's"} 2007
{'jonah', 'hex'} 2010
{'jonah', 'hex'}
ok
{'christina', 'queen'} 1933
{'and', 'the', 'birds', 'bees'} 1956
{'sister', 'the', 'other'} 1999
{'sister', 'the', 'other'}
ok
{'condition', 'heart'} 1990
{'of', 'day', 'light'} 1987
{'a', "it's", 'wonderful', 'life'} 1946
{'timothy', 'of', 'life', 'the', 'odd', 'green'} 2012
{'timothy', 'of', 'life', 'the', 'odd', 'green'}
ok
{'the', 'racers'} 1955
{'ransom!'} 1956
{'victim', 'the'} 1980
{'macao'} 1952
{'halls', 'the', 'deck'} 2006
{'of', 'lies', 'body'} 2008
{'of', 'lies', 'body'}
ok
{'sabrina'} 1995
{'sabrina'}
ok
{'hoot'} 2006
{'hoot'}
ok
{'food', 'soul'} 1997
{'food', 'soul'}
ok
{'no', 'for', 'men', 'old', 'country'} 2007
{'no', 'for', 'men', 'old', 'country'}
ok
{'the', 'bear'} 1988
{'8mm'} 1999
{'8mm'}
ok
{"i'll", 'anything', 'do'} 1994
{'octopussy'} 1983
{'octopussy'}
ok
{'of', 'king', 'last', 'the', 'scotland'} 2006
{'of', 'king', 'last', 'the', 'scotland'}
ok
{'trixie'} 2000
{'the', 'bloom', 'brothers'} 2008
{'the', 'bloom', 'brothers'}
ok
{'yourself!', 'behave'} 1951
{'rescuers', 'the'} 1977
{'states', 'altered'} 1980
{'rv'} 2006
{'rv'}
ok
{'wives', 'the', 'stepford'} 2004
{'wives', 'the', 'stepford'}
ok
{'panic'} 2000
{'fate'} 2008
{'tadpole'} 2002
{"jupiter's", 'darling'} 1955
{'wish', 'death'} 1974
{'awakenings'} 1990
{'awakenings'}
ok
{'talk', 'to', 'about', 'something'} 1995
{'screwed'} 2000
{'caligula'} 1979
{'pretty', 'dirty', 'things'} 2002
{'pretty', 'dirty', 'things'}
ok
{'critical', 'condition'} 1987
{'critical', 'condition'}
ok
{'happy', 'texas'} 1999
{'happy', 'texas'}
ok
{'sugar', 'spice', '&'} 2001
{'sugar', 'spice', '&'}
ok
{'munich'} 2005
{'munich'}
ok
{'ii', 'dundee', 'crocodile'} 1988
{'ii', 'dundee', 'crocodile'}
ok
{'in', 'the', 'crowd'} 1988
{'dillinger'} 1973
{'girl', 'dragon', 'with', 'the', 'tattoo'} 2009
{'girl', 'dragon', 'with', 'the', 'tattoo'}
ok
{'searchers', 'the'} 1956
{'of', 'wizard', 'the', 'oz'} 1939
{'camp'} 2003
{'carrington'} 1995

KeyboardInterrupt:

In [264]:
print(len(matched))
print(len(movie_stats_cleaned))
print(len(merge_df_ratings))

3514
5497
7351