## Import libraries and modules

In [7]:
import pandas as pd
%matplotlib inline
import os
print(os.getcwd())

C:\Users\Alice\EPFL\ADA_Project

## Loading the data

In [11]:
DATA_FOLDER = 'Data/'

#load only datasets that seem useful to our project
TITLE_AKAS_DATASET = DATA_FOLDER + 'title.akas.tsv.gz'
TITLE_BASICS_DATASET = DATA_FOLDER + 'title.basics.tsv.gz'
TITLE_PRINCIPALS_DATASET = DATA_FOLDER + 'title.principals.tsv.gz'
TITLE_RATINGS_DATASET = DATA_FOLDER + 'title.ratings.tsv.gz'
NAME_BASICS_DATASET = DATA_FOLDER + 'name.basics.tsv.gz'

def load_metadata(path, column_names, header=None, low_memory=False):
    return pd.read_table(path, header=header, names=column_names)

columns_ratings = ['tconstIdentifier', 'averageRating', 'numVotes']

ratings = load_metadata(TITLE_RATINGS_DATASET, column_names=columns_ratings)

ratings.head()

  tconstIdentifier  averageRating  numVotes
0           tconst  averageRating  numVotes
1        tt0000001            5.7      1922
2        tt0000002            5.8       259
3        tt0000003            6.5      1734
4        tt0000004            5.6       174